= form_with(model: @comment, local: true, url: {controller: 'comments', action: 'create'})  do |comment|
  = comment.text_area :message
  = comment.hidden_field :board_id, value: @board.id
  = comment.submit 'コメントする'